body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

/* Header */
header {
    background-color: #0047ab;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffdd57;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 40px;
}

.hero h2 {
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #555;
}

/* Image */
.dashboard-img {
    margin-top: 20px;
    width: 600px;
    border-radius: 10px;
    border: 3px solid #0047ab;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}
form {
    width: 300px;
    margin: auto;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    background-color: #003366;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0059b3;
}

.tool-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.tool-card {
    padding: 20px;
    width: 180px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.tool-card:hover {
    background-color: #0059b3;
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
}
