body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
}

.form-container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

small {
    color: red;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
}

button:hover {
    background-color: #005fa3;
}
